source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0

nuget Fable.Core prerelease
nuget Fable.Browser.Dom prerelease
nuget Fable.Elmish >= 4.0.0 prerelease
nuget Fable.Elmish.Debugger prerelease
nuget Fable.Elmish.HMR prerelease
nuget Fable.Elmish.React prerelease
nuget Fable.Fetch prerelease
nuget Feliz >= 2.0.0 prerelease
nuget Feliz.ElmishComponents prerelease
nuget Thoth.Elmish.Debouncer prerelease
nuget Fable.React.UseElmish prerelease
nuget Fss-lib.Fable